.add-post {
    &-btn{
        width: 40px;
        position: fixed;
        right: 10px;
        bottom: 10px;
        background-color: $clr3;
    }
    &-modal{
        width: 600px;
        background: $clr3;
        margin: 0 auto;
        svg{
            width: 40px;
        }
        &-title{
            padding: 10px;
        }
        &-textarea {
            padding: 10px;
            border-top: 1px solid $clr2;
        }
        &-upload{
            background: $clr2;
            height: 340px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-img{
            max-height: 340px;
            object-fit: cover;
        }
        &-btn{
            padding: 10px;
            color: $clr5;
            font-weight: 600;
        }
    }
}
