.add-post {
    &-btn {
        width: 40px;
        height: 40px;
        position: fixed;
        right: 15px;
        bottom: 15px;
        background-color: $clr3;
        border-radius: 10px;
    }
    &-modal {
        font-size: 13px;
        width: 600px;
        border-radius: 3px;
        background: $clr3;
        margin: 0 auto;
        animation: appear 350ms ease-in 1;
        svg {
            width: 40px;
        }
        &-title {
            padding: 16px;
            font-weight: 600;
        }
        &-textarea {
            padding: 16px;
            border-top: 1px solid $clr2;
            border-bottom: 1px solid $clr2;
            display: block;
        }
        &-loader {
            height: 340px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid $clr2;
        }
        &-upload {
            height: 340px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-bottom: 1px solid $clr2;
        }
        &-img {
            max-height: 340px;
            object-fit: cover;
        }
        &-btn {
            padding: 16px;
            float: right;
            svg{
                fill: $clr5;
            }
        }
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
}
