.main-header{
    border-bottom: 1px solid $clr2;
    height: 54px;
    background-color: $clr3;
    position: sticky;
    top: 0;
    &-user{

        margin-left: 20px;
    }
    .header-logo{
        height: 30px;
    }
    &-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: inherit;
        svg{
            margin-left: 20px;
        }
        a:hover{
            text-decoration: none;
        }
        &-logo{
            font-family: 'Cookie', cursive;
            // background: rgb(248,243,188);
            // background: linear-gradient(90deg, rgba(248,243,188,1) 3%, rgba(250,171,228,1) 20%, rgba(117,235,211,1) 51%, rgba(141,244,251,1) 74%, rgba(200,122,246,1) 100%);
            // background-clip: text;
            // -webkit-text-fill-color: transparent;
        }
    }
    &-search{
        border: 1px solid $clr2;
        background-color: $clr4;
        padding: 4px;
        width: 215px;
        font-size: inherit;
        border-radius: 3px;
    }
}
