.screen{
    background: rgba(0,0,0,.6);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    &-box{
        width: 400px;
        background: $clr3;
        margin: 0 auto;
        border-radius: 12px;
        &-top{
            display: flex;
            align-items: center;
            text-align: center;
            border-bottom: 1px solid $clr2;
            padding: 10px 16px;
            &-title{
                font-weight: 600;
                font-size: 16px;
                flex-grow: 1;
            }
        }
        &-bottom{
            padding: 16px;
            overflow: hidden auto;
            height: 350px;
            &-by{
                margin-bottom: 16px;
            }
        }
    }
}