.post-modal {
    width: 96%;
    max-width: 935px;
    margin: 0 auto;
    background: $clr3;
    height: 600px;
    display: flex;
    overflow: hidden;
    @include for-max-narrow-layout{
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    .post-row{
        margin-bottom: 10px;
    }
    &-author{
        padding: 0 16px;
        margin-top: -9px;
    }
    &-img {
        width: 67%;
        height: inherit;
        object-fit: cover;

        @include for-max-narrow-layout{
            height: 50%;
            width: auto;
        }
    }
    &-right {
        flex: 1;
        font-size: 13px;
        display: flex;
        flex-direction: column;
        width: 335px;
        @include for-max-narrow-layout{
            height: 50%;
            width: auto;
        }
    }
    &-comments{
        margin-bottom: auto;
        padding: 16px;
        height: 370px;
        overflow: auto;
        border-top: 1px solid lighten($clr2, 5%);
        border-bottom: 1px solid lighten($clr2, 5%);
        &::-webkit-scrollbar{
            width: 0px;
            background: transparent;
        }
    }
    &-bottom{
        padding: 0 16px;
    }
}
