.post-modal {
    width: 90%;
    max-width: 935px;
    margin: 0 auto;
    background: $clr3;
    height: 600px;
    display: flex;
    .post-row{
        margin: 10px 0;
    }
    &-img {
        width: 600px;
        height: inherit;
        object-fit: cover;
    }
    &-right {
        flex: 1;
        font-size: 13px;
        display: flex;
        flex-direction: column;
        width: 335px;
    }
    &-comments{
        margin-bottom: auto;
        padding: 16px;
        height: 370px;
        overflow: auto;
        border-top: 1px solid lighten($clr2, 5%);
        border-bottom: 1px solid lighten($clr2, 5%);
    }
    &-bottom{
        padding: 16px;
    }
}
