.post{
    &-list{
        margin: 0 auto;
    }
    &-details {
        background-color: $clr3;
        max-width: 616px;
        overflow: hidden;
        border-radius: 3px;
        margin-bottom: 60px;
        font-size: 13px;
        @include for-narrow-layout{
            border: 1px solid $clr2;
        }
        &-header{
            padding: 16px;
            display: flex;
            align-items: center;
            .more-options-btn{
                margin-left: auto;
            }
            a{
                font-weight: 600;
                font-size: inherit;
                &:active{
                    color: lighten(#555555, 20%);
                }
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        &-img{
            object-fit: cover;
            height: 745px;
            @include for-max-normal-layout{
                height: 320px;
            }
        }
        .show-comments-btn{
            color: $clr6;
            display: block;
            margin: 2px 0;
            &:active{
                color: lighten($clr6, 30%)
            }
        }
        &-content{
            padding: 0 16px;  
        }
        &-add-comment{
            padding: 0 16px;
            display: flex;
            align-items: center;
            min-height: 56px;
            @include for-narrow-layout{
                border-top: 1px solid lighten($clr2, 5%);
            }
            &-btn{
                color: $clr5;
                font-weight: 600;
            }     
        }
    }
    &-actions{
        padding-top: 12px;
        &-btn:not(:first-of-type){
            margin-left: 15px;
            &:last-of-type{
                float: right
            }
        }
        .like{
            &.likeAnimation{
                fill: #ED4954;
                animation: likeAnim 1s;
            }
        }
        
    }
    &-row{
        &-username{
            margin-right: 5px;
            font-weight: 600;
        }
    }
    &-likes{
        &-btn{
            font-weight: 600;
            color: $clr1;
            &:active{
                color: lighten(#555555, 20%)
            }
        }
    }
    &-published-time{
        color: $clr6;
        margin-bottom: 10px;
        font-size: 10px;
        display: inline-block;
        text-transform: uppercase;
    }
}

@keyframes likeAnim {
    to {
    //   transform: translateY(.5rem) rotate(45deg) scale(1.1);
    //opacity: 0;
      transform:  scale(1.3); 
    }
  }