.post-preview {
    border: 1px solid $clr2;
    background-color: $clr3;
    max-width: 616px;
    overflow: hidden;
    border-radius: 3px;
    margin-bottom: 60px;
    font-size: 13px;
    // color: #555555;
    &-header{
        padding: 16px;
        display: flex;
        align-items: center;
        .more-options-btn{
            margin-left: auto;
        }
        a{
            // color: #555555;
            font-weight: 600;
            font-size: inherit;
            &:active{
                color: lighten(#555555, 20%);
                
            }
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .show-comments-btn{
        color: $clr6;
        display: block;
        margin: 2px 0;
        &:active{
            color: lighten($clr6, 30%)
        }
        
    }
    &-content{
        padding: 0 16px;  
    }
    &-img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .post-actions{
        padding-top: 12px;
        &-btn:not(:first-of-type){
            margin-left: 15px;
            &:last-of-type{
                float: right
            }
        }
        .like{
            &.likeAnimation{
                fill: #ED4954;
                animation: likeAnim 1s;
            }
        }
        
    }
    // .by{
    //     margin-bottom: 4px;
    // }
    .author{
        margin-right: 5px;
        // &:hover + .show-details{
        // display: block;
    }
    .author, .likes{
        font-weight: 600;
    }
    .likes{
        // margin: 5px 0;
        &-btn{
            font-weight: 600;
            color: #555555;
            &:active{
                color: lighten(#555555, 20%)
            }
        }
    }
    .published-date{
        color: $clr6;
        margin-bottom: 10px;
        font-size: 10px;
        display: inline-block;
        text-transform: uppercase;
    }
    &-comment{
        border-top: 1px solid lighten($clr2, 5%);
        padding: 0 16px;
        display: flex;
        align-items: center;
        min-height: 56px;
        &-btn{
            color: $clr5;
            font-weight: 600;
        }     
    }
}

@keyframes likeAnim {
    to {
    //   transform: translateY(.5rem) rotate(45deg) scale(1.1);
    //opacity: 0;
      transform:  scale(1.3);
      
    }
  }