* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.8;
    color: $clr1;
    background-color: $clr4;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
    line-height: 1.3;
}

img{
    display: block;
    width: 100%;
    height: 100%;
}

button{
    cursor: pointer;
    border: 0;
    background: none;
    padding: 0;
}

input, select, button, textarea{
    outline: 0;
    font-family: inherit;
    font-size: inherit;
}

::placeholder{
    color: $clr6;
}

a{
    color: $clr1;
    text-decoration: none;
    display: inline-block;
    &:hover{
        text-decoration: underline;
    }
}

p{
    margin: 0;
}

textarea{
    width: 100%;
    border: 0;
    resize: none;
    // height: 22px;
    max-height: 80px;
    color: $clr6;
   
}

input[type="file"]{
    width: 0;
    height: 0;
}