.main{
    margin: 30px 0;
    @include for-max-normal-layout{
        margin: 16px 0;
    }
    &-user-profile{
        @include for-max-normal-layout {
            display: none;
        }
    }
    &-loader{
        width: 100px;
    }
    &-layout{
        display: grid;
        //grid-template-columns: minmax(2rem, 1fr) minmax(auto, 935px) minmax(2rem, 1fr);
        grid-template-columns: minmax(auto, 1fr) minmax(auto, 935px) minmax(auto, 1fr) ;
        @include for-normal-layout {
            grid-template-columns: minmax(1rem, 1fr) minmax(auto, 935px) minmax(1rem, 1fr);
        }
        > * {
            grid-column: 2;
        }

        > .full {
            grid-column: 1 / -1;
        }

        &#app {
            min-height: 100vh;
            grid-template-rows: auto 1fr;
        }
    }
}

.user-avatar{
    vertical-align: middle;
    margin-right: 16px;
    border: 1px solid $clr2
}

.avatar{
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    &-sm{
        height: 22px;
        width: 22px;
    }
    &-md{
        width: 32px;
        height: 32px;
    }
    &-lg{
        width: 44px;
        height: 44px;
    }
    img{
        width: 100%;
        height: 100%;
    }
    
}

.container{
    max-width: 935px;
    margin: 0 auto;
}

svg{
    fill: $clr1;
}

.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-connection {
    display: flex;
}