.profile{
    max-width: 715px;
    padding: 0 60px;
    display: flex;
    &-img{
        width: 150px;
        height: 150px;
        margin-right: 102px;
    }
    &-description{
        max-width: 340px;
        font-size: 15px;
        &-top{
            padding: 10px 0 15px;
            &-username{
                font-weight: 200;
            }
        }
        &-bio{
            padding-top: 14px;
        }
        
    }
    &-posts{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
    &-tabs{
        text-align: center;
        border-top: 1px solid #dbdbdb;
        margin-top: 44px;
        padding: 12px 0;
        color: $clr6;
        &-tab{
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
            svg{
                fill: $clr6;
                vertical-align: text-top;
            }
        }
    }
}