.profile{
    padding: 0 60px;
    display: flex;
    @include for-max-normal-layout{
        padding: 0 16px
    }
    &-img{
        width: 150px;
        height: 150px;
        margin-right: 12%;
        object-fit: cover;
        @include for-max-normal-layout {
            margin-right: 16px;
            width: 80px;
            height: 80px;
        }
    }
    &-description{
        font-size: 15px;
        flex: 1;
        &-top{
            padding: 10px 0 15px;
            &-username{
                font-size: 25px;
            }
        }
        &-bio{
            padding-top: 14px;
        }
    }
    &-count{    
        &:not(:first-child){
            margin-left: 30px;
            @include for-max-normal-layout{
                margin-left: 15px;
            }
        }
        &-num{
            font-weight: 600;
            font-size: 15px;
        }
    }
    &-posts{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        @include for-max-normal-layout {
            grid-gap: 2px;
        }
        &-item{
            cursor: pointer;
            @include aspect-ratio(100, 100); 
            &-count{
                display: none;
                span:first-child{
                    margin-right: 25px;
                }
            }
            &:hover .profile-posts-item-count{
                background-color: rgba(0,0,0,0.3);
                color: $clr3;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 15px;
                font-weight: 600;
                svg{
                    fill: $clr3;
                    vertical-align: text-bottom;
                }
            }
        }
    }
    &-tabs{
        text-align: center;
        border-top: 1px solid #dbdbdb;
        margin-top: 44px;
        padding: 12px 0;
        color: $clr6;
        &-tab{
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
            svg{
                fill: $clr6;
                vertical-align: text-top;
            }
        }
    }
}