// COLOR PALETTE

$clr1: #262626;
$clr2: #dbdbdb;
$clr3: #ffffff;
$clr4: #fafafa;
$clr5: #0095f6;
$clr6: #8e8e8e;
$clr7: #ED4954;

// LAYOUT BREAKPOINTS

$break-xs-narrow: 414px;
$break-narrow: 600px;
$break-normal: 700px;
$break-wide: 960px;