// COLOR PALETTE

$clr1: #262626;
$clr2: #dbdbdb;
$clr3: #ffffff;
$clr4: #fafafa;
$clr5: #0095f6;
$clr6: #8e8e8e;

// LAYOUT BREAKPOINTS

$break-narrow: 500px;
$break-normal: 700px;
$break-wide: 960px;