//SETUP
//@import 'setup/typography';
@import 'setup/variables';

// BASICS
@import 'basics/base';
@import 'basics/layout';

//COMPONENTS
@import 'components/post-preview';
@import 'components/main-footer';
@import 'components/main-header';
@import 'components/comment';
@import 'components/modal';

