// SETUP
@import 'setup/mixins';
@import 'setup/typography';
@import 'setup/variables';

// BASICS
@import 'basics/base';
@import 'basics/layout';

// COMPONENTS
@import 'components/post-details';
@import 'components/main-footer';
@import 'components/main-header';
@import 'components/modal';
@import 'components/add-post';
@import 'components/post-modal';

// VIEWS
@import 'views/user-details';
